# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# VIRTUAL ENV
# ========================
venv/
.env/
.env

# ========================
# STREAMLIT
# ========================
.streamlit/

# ========================
# GOOGLE / CREDENCIAIS
# ========================
*.json

# ⚠️ MUITO IMPORTANTE (se usar chave)
service-account.json

# ========================
# SISTEMA
# ========================
.DS_Store
Thumbs.db

# ========================
# LOGS
# ========================
*.log

# ========================
# BUILD / CACHE
# ========================
.cache/
dist/
build/

# ========================
# IDE
# ========================
.vscode/
.idea/